:root header h1 {
    text-align: center;
}

header small {
    text-align: right;
    display: block;
}

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.hints-container {
    display: flex;
    border: 1px solid #ddd;
    flex-direction: column;
    margin-bottom: 20px;
    height: max-content;
    padding-inline-start: 0.25em;
}

.hint {
    margin-right: 100px;
}

li.hint::marker {
    content: none;
}

.hint-button {
    cursor: pointer;
    background-color: black;
    color: white;
}

.hint-content {
    margin-bottom: 5px;
}

li.hint-content::marker {
    content: "=> ";
}

#answer-input {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button#answer-button {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

button.restart-button {
    display: block;
    margin: auto;
}

.answer-log {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

